.about{
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 10%;
}

.about h1{
  color:white;
  width:24rem;
  background-color: darkorange;
  font-family: 'Big Shoulders Inline Display', cursive;
  font-size: 10rem;
  margin: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.description{
  width: 20rem;
  border-radius: 3px;
  border-style: solid;
  padding: .2rem;
  margin-left: .5rem;
}

.description h2{
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.2rem;
  text-align: left;
}

.buttons{
  margin-top: 2rem;
}

.button{
  color: white;
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.2rem;
  background-color: tomato;
  text-decoration: none;
  border: none;
  margin: 1rem;
  margin-top: 3rem;
  padding: .5rem 3rem;
}

.button:hover{
  text-decoration: none;
  background-color: #92261f;
  color: rgb(180, 180, 180);
}

.button:hover{
  border: none;
}