
.navBar{
  font-size: 10px;
  color: black;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 4.5rem;
  box-shadow: 0 1px 10px -3px rgb(156, 156, 156);

}

.company{
  font-size: 2rem;
  font-family: 'Big Shoulders Inline Display', cursive;
  margin: 0px;
}

.links{
  text-decoration: none;
  font-size: 1rem;
}

.links a{
  color: tomato;
  padding-right: 1.5rem;
  font-family: 'Archivo Black', sans-serif;
}

/* footer */

.f-links{
  text-decoration: none;
  font-size: 1rem;
}

.f-links a{
  color: tomato;
  padding-right: 1.5rem;
  font-family: 'Sarabun', sans-serif;
}

.footer{
  position: fixed;
  bottom: 0px;
  height: 3rem;
  width: 100%;
  background-color: rgba(0, 128, 128, 0.514);
  box-shadow: 0 -1px 6px rgba(94, 94, 94, 0.308);
}