.projects{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.project{
  font-size: 10px;
  width: 40rem;
  height: 20rem;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.first{
  padding: 1rem;
  padding-top: 1.3rem;
  padding-bottom: 2rem;
  background-color: wheat;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.second{
  padding: 1rem;
  border-radius: 0px 3px 3px 0px;
  border-style: solid;
  border-width: 3px;
  border-color: #1d2124;
  margin-left: 10px;
  height: 18rem;
}

.project h6{
  border-bottom:0px;
  font-size: .75rem;
  width: 18rem;
}

.project h4{
  font-family: 'Archivo Black', sans-serif;
}

.project_pic{
  height: 10rem;
  width: 18rem;
  object-fit: cover;
  margin: 1rem 0rem;
}

.projects{
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.tittle{
  color:white;
  background-color: darkorange;
  font-family: 'Big Shoulders Inline Display', cursive;
  font-size: 3rem;
  margin-top: 1rem;
  padding: 1rem;
  height: 10rem;
  text-align: center;
}

.buttons{
  top: 1rem;
}

.butt{
  color: white;
  font-family: 'Archivo Black', sans-serif;
  font-size: .75rem;
  background-color: tomato;
  text-decoration: none;
  border: none;
  margin: 1rem;
  padding: .4rem 1.5rem;
}

.butt:hover{
  text-decoration: none;
  background-color: #92261f;
  color: rgb(180, 180, 180);
}

.butt:hover{
  border: none;
}

.googleForm{
  margin-top: 4rem;
  font-family: 'Archivo Black', sans-serif;

}
